body{
	/*background:#ffaa00;*/
	background:url('../img/mainBack.jpg')no-repeat center center fixed;
	background-size:100% auto;
	overflow-y:scroll;
	overflow-x:hidden;
	font-family: 'Ubuntu', sans-serif;
	display:block;
	position:absolute;
	margin:0px;
	padding:0px;
	height: 100%;
	width: 100%;
	font-size: 100%
}

@media (min-width:1025px) {
	.header{
		position:fixed;
		top:30px;
	}
}

.main-navbar {
	background: #00D4FF;
	width: 100%;
	min-width:500px;
	height: 60px;
	border-bottom: 2px solid black;
	position:fixed;
}

.top-navbar{
	width:100%;
	min-width:500px;
	height:18px;
	position:fixed;
	background:#00D4FF;
	color:#000000;
	/*box-shadow:0px 0px 8px white;*/
	z-index:40;
	/*border-bottom: 2px solid black;*/
}

.top-navbar-bdiv {
	top:0%;
	color:#ffffff;
	height:25px;
	width:15%;
	min-width:200px;
	border-left:1px solid white;
	border-bottom: 1px solid white;
	float:right;
	background:#00D4FF;
	box-shadow:0px -5px 10px white;
}

.topnavbutton{
	font-family:'Ubuntu',sans-serif;
	text-align:center;
	font-size:16px;
	line-height:18px;
	vertical-align:middle;
	color:white;
	height:100%;
	width:100%;
	min-width:200px;
}

.topnavbutton:hover{
	color:#000000;
}

.other-sites {
	text-decoration: none;
	font-size: 1.0vmax;
	height:100%;
	width:100%;
}

.other-sites:hover {
	color: black;
}

.nav-headers {
	top:22px;
	width:15%;
	min-width:70px;
	height:30px;
	min-height:20px;
	color:#ffffff;
	line-height:30px;
	vertical-align:middle;
	font-size:25px;	
	text-align:center;
	position:aboslute;
	z-index:-6;
}

.nav-headers:hover{
	color:#000000;
	background-color:#ffffff;
	cursor: pointer;
}

#home-head {	
	left:10%;
	position: absolute;
}

#games-head {
	left:26%;
	position: absolute;
}

#about-head {
	margin-left:auto;
	margin-right:auto;
	width:21%;
	display: block;
}

#team-head {
	left:60%;	
	position: absolute;
}

#contact-head {
	left:76%;
	position: absolute;
}

#hidden-link {
	width:6%;
	height:15%;
	
	top:85%;
	left:90%;
	
	background-size: 100% 100%;
	position: fixed;
}

#hidden-link:hover {
	background-image:url('../img/hidden_img_hover.png');
	background-size: 100% 100%;
}

.newsWrapper{
	width:70%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.newsImage-full{
	position:relative;
	width:100%;
	height:200px;
	margin:0px;
	top:90px;
	background-size:100% auto;
	background-repeat:no-repeat;
}

.newsImage-left {
	position:absolute;
	left:0px;
	top:0px;
	width:30%;
	height:100%;
	min-height:400px;
	margin:0px;
		background-size:auto 100%;
	background-repeat:no-repeat;
}

.newsDate{
	position:absolute;
	padding-right:20px;
		top:20%;
	height:2%;
}

.newsDesc.full{
	top:70%;
	
}

.newsDate.full{
	margin-top:0%;
	top:17%;
	text-align:right;
	right:20px;
}

.newsHeader{
	min-width:500px;
	display:block;
	height:50px;
	background: #ff0055; 
	width:110%;
	margin-left:-5%;
	padding-top:20px;
	padding-bottom:20px;
	box-shadow:0px 2px 5px black;
}

.newsHeader h1{
	text-align:center;
	font-size:50px;
	margin:0px;
	line-height:50px;
	vertical-align:middle;
}

.newsTitle{
	position:absolute;
	margin-left:-20px;
	padding-right:20px;
	font-size:30px;
	font-weight:bold;
	margin-bottom:0px;
	text-align:right;
	height:20%;
}

.newsDesc{
	font-size:15px;
	position:absolute;
	padding-bottom:20px;
	padding-top:10px;
	font-family:sans-serif;
	font-weight:100;
	text-align:left !important;
	top:25%;
}

.full{
	width:100%;
	display:block;
	text-align:right;
}

.left{
	width:69%;
	left:0%;
}

.right{
	text-align:right;
	right:0px;
	width:69%;
}

.newsContent{
	background-color:#ffffff;
	min-height:400px;
	min-width:500px;
	display:block;
	position:relative;
	width:100%;

	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:5px;
	box-shadow:0px 1px 5px black;;
}

.newsContent h1{
	display:block;
	text-align:center;
}

/**
 * CSS for the games page
 */
#dragon-pic {
	display: block;
	margin-left:auto;
	margin-right:auto;
	height:100%;
	
}

#monster-of-month {
	max-height:500px;
	height:100%;
}

#droid-snake-content {
	/*margin-top: -500px;*/
}
	
@media (max-width:1200px){
	#dragon-pic {
		display: block;
		margin-left:auto;
		margin-right:auto;
		height: 400px;
	
	}
	
	#travelquest-top {
		margin-top: -80px;
	}
}

.gamesTitle{
	height:130px;
	width:200px;
	padding-left:20px;
	padding-right:20px;
	font-size:50px;
	position:absolute;
	left:10%;
	top:110px;
	line-height:90px;
	vertical-align:center;
	border-radius:2px;
	z-index:9;
}

.gamesQuick{
	margin-top:20px;
	width:290px;
	padding-left:10px;
	margin-left:8%;
	box-shadow:0px 5px 10px black;
	line-height:30px;
}

.gamesInfo{
	position:absolute;
	display:block;
	margin-left:10%;
	margin-right:10%;
	top:250px;
	background-color:white;
	width:80%;
	padding-left:50px;
	padding-right:50px;
	padding-top:110px;
	border-radius:0px 0px 5px 5px;
	z-index:-1;
	/*overflow-y:scroll;*/
	min-width:612px;
	height:100%;
	display:flex;
	flex:1;
	
}

.button{
	width:50px;
	height:50px;
	display:inline-block;
	position:absolute;
	cursor:pointer;
	left:10%;
	margin-top:-50px;
	border-radius: 5px 5px 0px 0px;
}

.button i{
	display:block;
	margin-left:auto;
	margin-right:auto;
	line-height:50px;
	vertical-align:center;
	text-align:center
}

.button#one{
	margin-left:310px;
}
.button#two{
	margin-left:360px;
}
.button#three{
	margin-left:410px;
}
.gamesInfo h1{
text-align:center;
display:block;
width:80%;
position:absolute;
margin-left:10%;
height:40px;
margin-top:-50px;
line-height:40px;
vertical-align:middle;;
}

	.gamesInfoInner{

		height:500px;
		float:center;
		flex:1;
	}

/**
 *Contact Page CSS
 */
#contact-main-div {
	position: absolute;
	overflow: auto;
	width:100%;
	height:100%;
	top:0;
	z-index: 0;
}

#contact-mail-div {
	width:100%;
	height:100%;
	position: relative;
}

#contact-area {
	height:100%;
	width:50%;
	left:0px;
	position:absolute;
}
#contact-mail-form {
	width:50%;
	margin-right:50px;
	margin-top: 200px;
	background: black;
	padding: 3%;
	padding-right: 5%;
	border: 1px solid white;
	opacity: .8;
	position:absolute;
	right:0px;
	display:inline-block;
}

#social-media-div {
	height:100%;
	width:410px;
	left:50%;
	position:absolute	
}

#social-media-box {
	margin-top:200px;
	width:420px;
	height:418.88px;
	background: white;
	border: 1px solid black;
	margin-left:50px;
	margin-right:auto;
	opacity: .8;	
}

.social{
	position: absolute;
	width:20%;
	height:20%;	
	margin:5px;
	background-size: 100% 100%;
	border-radius:100%;
	float:left;
}

.socialIndividual{
	background:black;
	width:430px;
	margin:-10px 0px 1px -10px;
	border:1px solid black;
	border-radius:2px;
	padding:5px;
	display:block;
	line-height:100%;
	vertical-align:middle;
	
}

.socialIndividual:hover{
	background:white;
	color:black;
}

.socialIndividual h1{
	font-size:25px;
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#contact-submit {
	position: absolute;

	height: 80px;
	width: 85%;
	border: 1px solid black;
	color: white;
	background: black;
	border:1px solid white;
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
}

#contact-submit:hover{
	color: black;
	background: white;
	border:1px solid black;
}

#contact-submit:active {
	background: #454545;
}

.content h1{
	font-size:40px;
	/*color:#FFCC00;*/
}
.content h2{
	text-align:left;
	font-size:15px;
	color:black;
	padding:0px;
	margin:5px;
}
.content p{
	font-size:18px;
	padding:20px;
	margin:0px 0px 0px 0px;
	color:black;
}

.profile {
	position:absolute;
	height:580px;
	width:49%;
	background-color:transparent;
	display:block;
	z-index:0;
}

.profile img{
	display:block;
	margin-right:10px;
	margin-left:auto;
	margin-top:10px;
	width:49%;
	box-shadow:2px 2px 10px black;
}

.profile h1{
	text-align:left;
	padding-left:10px;
	width:49%;
	display:block;
	margin-left:10px;
	margin-right:auto;
	position:absolute;
	top:50px;
	font-size:60px;
}

.profile p{
	margin-top:20px;
}

twitter-follow-button{
	margin-left:10px;
}

/**
 * This is for the home page game content
 */

.content{
	letter-spacing:0px;
	width:100%;
	/*background-color:#FF0000;*/
	font-size:30px;
	color:#000000;
	min-height:500px;
	position:relative;
}

.projContent{
	letter-spacing:0px;
	width:100%;
	height:100%;
	font-size:30px;
	position:absolute;
	color:#000000;
}

.projTitle{
	position:absolute;
	height:50px;
	width:250px;
	margin-right:180px;
	right:12%;
	bottom:90px;
	/*box-shadow:1px 1px 2px black;*/
	z-index:7;
	border-radius:2px;
	text-align:center;
}

.projTitle h1{
	margin:0px;
	font-size:35px;
	line-height:50px;
	vertical-align:middle;
}

.projDesc{
	position:absolute;
	height:100px;
	width:400px;
	right:12%;
	bottom:-1.5%;
	/*box-shadow:1px 1px 2px black;*/
	padding:10px;
	z-index:6;
	border-radius:2px;
	overflow:hidden;
	font-family:sans-serif;
	font-weight:100;
}

.projButton{
	position:absolute;
	height:35px;
	width:100px;
	font-size:15px;
	right:13%;
	bottom:90px;
	/*box-shadow:1px 1px 2px black;*/
	border-radius:2px;
	z-index:8;
	line-height:35px;
	vertical-align:center;
	text-align:center;
	background-color:white;
	cursor:pointer;
}

.projButton:hover{
	background-color:#E9E9E9;
}
/*
.hoverable:hover{
	box-shadow:4px 4px 10px black;
}*/

#LostHopeTitle{
	background-color:#196e16;
	
}

.LostHopeDesc{
	background-color:#058700 ;	
}

#LostHope{
	background: url('../img/lostHopeBanner.png') no-repeat left top fixed;
	background-size:100% auto ;
}

#UtterDarkTitle{
	background-color:#666666;
}

.UtterDarkDesc{
	background-color:#ffffff;
}

#UtterDark{
	background: url('../img/utterDarkBanner.png') no-repeat left top fixed;
	background-size:100% auto ;
}

#UtterDarkButton {
	background-color:#777777;	
}

#TravelQuestTitle{
  background-color:#ab6e40;

}

.TravelQuestDesc{
	background-color:#c49570;
}

#TravelQuest{
	background: url('../img/travelQuestBanner.png') no-repeat left top fixed;
	background-size:100% auto;
}

#DroidSnakeTitle{
	background-color:#1c8eff;
}

.DroidSnakeDesc{
 background-color:#4a9bff;
}

#DroidSnake{
	background: url('../img/droidSnakeBanner.png') no-repeat left top fixed;
	background-size:100% auto;
}

.projectButton{
	position:absolute;
	height:100%;
	width:7%;
	top:0%;
	cursor:pointer;
	z-index:2;
	opacity:.5;
	text-align:center;

}

.projectButton i{
	float:center;
	line-height:500px;
	vertical-align:middle;
}


/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}


/* 

for zoom animation 
uncomment this part if you haven't added this code anywhere else

*/

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0.001; /* chrome opacity transition bug */
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}


/**
 *CSS for the Game's website games page
 */
.games_div {
	width:100%;
	min-height:1080px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: block;
	position:relative;
	z-index:-2;
	overflow:hidden;
}

#travelquest {
	background-image: url('../img/paperTex.png');
}

#losthope {
	background-image: url('../img/lostHope.jpg');
}

#utterdark {
	background-image: url('../img/utterDarkBanner.png');
}

#droidsnake {
	background-image: url('../img/droidSnakeBanner.png');
}
.games_div_opacity {
	width:100%;
	height:100%;
	background-color: black;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.6;
	position:absolute;
	z-index:-1;
}

/**
 * CSS for the team page
 */
.team_profile {
	width:100%;
	height:100%;
	background: transparent;
	position: static;
	margin-top:220px;
}

.team_collage-div {
	width:100%;
	height:100%;
	background: transparent;
	position: static;
	
}

.team_content {
	
	width:100%;
	height:100%;
	position: absolute;
}

.team_name_div {
	width:100%;
	height:300px;
	background-color: white;
	margin-top: 100px;
}

.team_member_desc {
	width: 80%;
	background: black;
	opacity: .8;
	z-index: -4;
	padding: 0px 10% 0px 10%;
}

.team_member_name {
	
}

#fname {
	position: absolute;
	top: 80px;
	left:10%;
	font-size: 100px;
}

#lname {
	position: absolute;
	top:230px;
	left:10%;
	font-size: 40px
}

#twitter-follower {
	position: absolute;
	top:330px;
	left:10%;
}

#team-collage {
	width:70%;
	height:80%;
}

.profile_image {
	width:300px;
	height:300px;
	right: 0px;
	margin-right:10%;
	margin-top:5%;
	position: absolute;
	z-index: 5;
}

/**
 * Footer Styling
 */
#newsletter-button {
	border-radius:100%;
	height: 100px;
	width: 100px;
	color: white;
	background: black;
	border:5px solid white;
	font-size: 20px;
	font-family: Copperplate;
}

#newsletter-button:hover {
	color: black;
	background: white;
	border:5px solid black;
}

#newletter-input {
	height:20px;
	width:200px;
}
/* MEDIA MODE! */
@media (max-width:765px){
	.top-navbar-bdiv{
		margin:0px !important;
	}

	#about-head{
		display:none;
	}

	.main-navbar-back{
		display:none;
	}

	.main-navbar{
		background-color:black;
	}

	.nav-headers{
		width:20%;
		height:40px;
		line-height:40px;
		font-size:2.5vw;
	}

	#home-head{
		left:0px;
	}

	#games-head{
		left:20%;
	}

	#team-head{
		left:60%;
	}

	#contact-head{
	 left:80%;
	}

	.marker{
		display:none;
	}

	.newsWrapper{
		width:100%;
	}

	.projContent{
		background-position:center center !important;
		background-size:auto 100% !important;

	}
	
	#dragon-pic {
		display: none;
	}
	
	#monster-of-month {
		height:300px;
		margin-top:100px;
	}
	
	#monster-of-month-content {
		margin-top:-200px;
	}
	
	#droid-snake-content {
	}
	
	.gamesInfo{
		width:100%;
		display:flex;
		position:absolute;
		flex-direction:column;
		margin-left:auto;
		margin-right:auto;
		padding-left:0px;
		min-width:0px;
		line-height:100%;
		vertical-align:middle;
	}
	
	#travelquest-top {
		margin-top: 50px;
	}
	
	#quest-types {
		display: none;
	}
	
	#quest-type-descriptons {
		margin-top:-30px;
	}
	
	#go-away-div {
		position: absolute;	
	}
	
	.margin-top-div {
		margin-top:50px;	
	}
	
	.gamesInfoInner{
		width:90%;
		min-height:0px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		min-width:0px;
	}
	
	.games_div{
		
		padding-bottom:20px;
	}
	
	.gamesInfoInner img{
		display:block;
		margin-left:auto;
		margin-right:auto;
		max-height:500px;
	}
	
	.gamesQuick{
		position:relative;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	
	.contents h1{
		margin-top:0px;
	}
	.button#one{
		margin-left:0px;
	}
	.button#two{
		margin-left:50px;
	}
	.button#three{
		margin-left:100px;
	}

	#contact-main-div {
		width:100%;
		height:100%;
		top:0;
		z-index: 0;
		margin-left:auto;
		margin-right:auto;
		position: absolute;
	}

	#contact-mail-form {
		width:100%;
		right:0;
		left:0;
		background: black;
		border: 1px solid white;
		opacity: .8;
		margin:200px 0px 0px 0px;
		padding:0px 0px 200px 0px;
	}

	#contact-area {
		position: static;
		height:100%;
		width:100%;
	}

	#social-media-div {
		background: transparent;
		width:100%;
		left:0%;
		border: 0px solid white;
		top: 0;
		position: absolute;
	}

	#social-media-box {
		background: white;
		opacity: .8;
		width:100%;
		margin-top:50px;
		margin-left:0px;
		border: 1px solid black;
		top: 0px;
		position: absolute;
		height:150px;
		
	}
	
	a{
		width:30%
	}

	.social{
		width:40%;
		height:40%;	
		margin:5px;
		background-size: 100% 100%;
		border-radius:100%;
	}
	
	.socialIndividual{
		width:32.9%;
		display:inline-block;
		height:70px;
		margin :0px 0px 0px 0px;
		padding:0px;
		border:0px;
		text-align:center;
	}
	
	.socialIndividual i{
		text-align:center;
		height:70px;
		font-size:4em;
	}
	
	.socialIndividual h1{
		display:none;
	}
	
	#contact-submit{
		margin-top:-20%;
		height:40px;
		font-size:30px;
	}

	.team_collage-div {
		display: none;
		
	}

	.profile_image {
		display: none;
	}

	.team_profile {
		width:100%;
		height:100%;
		background: transparent;
		position: static;
		padding-left: 10px;
		margin-top:150%;
	}

	#first_profile {
		margin-top:0px;
	}

	#fname {
		font-size: 80px;
	}
	
	#footer-id {
		display: none;
	}
}

