body{
	/*background:#ffaa00;*/
	background:url('../img/paperTex.jpg')no-repeat center center fixed;
	background-size:100% auto;
	overflow-y:scroll;
	overflow-x:hidden;
	font-family: 'Ubuntu', sans-serif;
	display:block;
	position:absolute;
	margin:0px;
	padding:0px;
	height: 100%;
	width: 100%;
	font-size: 100%
}

@media (min-width:1025px) {
	.header{
		position:fixed;
		top:30px;
	}
}

.main-navbar {
	background: #00D4FF;
	width: 100%;
	min-width:500px;
	height: 60px;
	border-bottom: 2px solid black;
	position:fixed;
}

.top-navbar{
	width:100%;
	min-width:500px;
	height:18px;
	position:fixed;
	background:#00D4FF;
	color:#000000;
	/*box-shadow:0px 0px 8px white;*/
	z-index:40;
	/*border-bottom: 2px solid black;*/
}

.top-navbar-bdiv {
	top:0%;
	color:#ffffff;
	height:25px;
	width:15%;
	min-width:200px;
	border-left:1px solid white;
	border-bottom: 1px solid white;
	float:right;
	background:#00D4FF;
	box-shadow:0px -5px 10px white;
}

.topnavbutton{
	font-family:'Ubuntu',sans-serif;
	text-align:center;
	font-size:16px;
	line-height:18px;
	vertical-align:middle;
	color:white;
	height:100%;
	width:100%;
	min-width:200px;
	
}

.topnavbutton:hover{
	color:#000000;
}

.other-sites {
	text-decoration: none;
	font-size: 1.0vmax;
	height:100%;
	width:100%;
}

.other-sites:hover {
	color: black;
}

.nav-headers {
	top:22px;
	width:15%;
	min-width:70px;
	height:30px;
	min-height:20px;
	color:#ffffff;
	line-height:30px;
	vertical-align:middle;
	font-size:25px;	
	text-align:center;
	position:aboslute;
	z-index:-6;
}

.nav-headers:hover{
	color:#000000;
	background-color:#ffffff;
		cursor: pointer;
}

#home-head {	
	left:10%;
	position: absolute;
}

#games-head {
	left:26%;
	position: absolute;
}

#about-head {
	margin-left:auto;
	margin-right:auto;
	width:21%;
	display: block;
}

#team-head {
	left:60%;	
	position: absolute;
}

#contact-head {
	left:76%;
	position: absolute;
}

#hidden-link {
	width:6%;
	height:15%;
	
	top:85%;
	left:90%;
	
	background-size: 100% 100%;
	position: fixed;
}

#hidden-link:hover {
	background-image:url('../img/hidden_img_hover.png');
	background-size: 100% 100%;
}

.newsWrapper{
	width:70%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.newsImage-full{
	position:relative;
	width:100%;
	height:200px;
	margin:0px;
	top:90px;
	background-size:100% auto;
	background-repeat:no-repeat;
}

.newsImage-left {
	position:absolute;
	left:0px;
	top:0px;
	width:30%;
	height:100%;
	min-height:400px;
	margin:0px;
	background-size:100% auto;
	background-repeat:no-repeat;
}

.newsDate{
	position:absolute;
	padding-right:20px;
	margin-top:55px;
}

.newsHeader{
	min-width:500px;
	display:block;
	height:50px;
	background: #ff0055; 
	width:110%;
	margin-left:-5%;
	padding-top:20px;
	padding-bottom:20px;
	box-shadow:0px 2px 10px black;
}

.newsHeader h1{
	text-align:center;
	font-size:50px;
	margin:0px;
	line-height:50px;
	vertical-align:middle;
}

.newsTitle{
	position:absolute;
	padding-right:20px;
	font-size:30px;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:0px;
}

.newsDesc{
	font-size:20px;
	position:absolute;
	padding-bottom:20px;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	margin-top:90px;	
	text-align:left !important;
}

.full{
	width:100%;
	display:block;
	text-align:center;
}

.left{
	width:69%;
	left:0%;
}

.right{
	text-align:right;
	right:0px;
	width:69%;
}

.newsContent{
	background-color:#ffffff;
	min-height:400px;
	min-width:500px;
	display:block;
	position:relative;
	width:100%;
	/*border-bottom:1px solid black;*/
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:5px;
	box-shadow:0px 1px 5px black;;
}

.newsContent h1{
	display:block;
	text-align:center;
	
}

.social{
	position: absolute;
	width:200px;
	height:200px;	
	margin:5px;
	background-size: 100% 100%;
	border-radius:100%;
	float:left;
}

#contact-submit {
	position: absolute;
	border-radius:100%;
	height: 150px;
	width: 150px;
	border: 3px solid black;
	color: white;
	background: black;
	font-size: 20px;
	font-family: Copperplate;
}

#contact-submit:active {
	background: #454545;
}

.content h1{
	font-size:40px;
	/*color:#FFCC00;*/
}
.content h2{
	text-align:left;
	font-size:15px;
	color:black;
	padding:0px;
	margin:5px;
}
.content p{
	font-size:18px;
	padding:20px;
	margin:0px 0px 0px 0px;
	color:black;
}

.profile {
	position:absolute;
	height:580px;
	width:49%;
	background-color:transparent;
	display:block;
	z-index:0;
}

.profile img{
	display:block;
	margin-right:10px;
	margin-left:auto;
	margin-top:10px;
	width:49%;
	box-shadow:2px 2px 10px black;
}

.profile h1{
	text-align:left;
	padding-left:10px;
	width:49%;
	display:block;
	margin-left:10px;
	margin-right:auto;
	position:absolute;
	top:50px;
	font-size:60px;
}

.profile p{
	margin-top:20px;
}

twitter-follow-button{
	margin-left:10px;
}

/**
 * This is for the home page game content
 */

.content{
	letter-spacing:0px;
	width:100%;
	/*background-color:#FF0000;*/
	font-size:30px;
	color:#000000;
	min-height:500px;
	position:relative;
}

.projContent{
	letter-spacing:0px;
	width:100%;
	height:100%;
	font-size:30px;
	position:absolute;
	color:#000000;
}

.projTitle{
	position:absolute;
	height:50px;
	width:250px;
	right:23%;
	bottom:90px;
	box-shadow:2px 2px 5px black;
	z-index:7;
	border-radius:2px;
}

.transparent{
	opacity:.7;
}

.projTitle h1{
	margin:0px;
}

.projDesc{
	position:absolute;
	height:100px;
	width:400px;
	right:12%;
	bottom:-1.5%;
	box-shadow:2px 2px 5px black;
	padding:10px;
	z-index:6;
	border-radius:2px;
	overflow:hidden;
}

#LostHopeTitle{
	background-color:#196e16;
	
}

#LostHopeDesc{
	background-color:#058700;	
}

#LostHope{
	background: url('../img/lostHopeBanner.png') no-repeat left top fixed;
	background-size:100% auto ;
}

#UtterDarkTitle{
	background-color:#666666;
}

#UtterDarkDesc{
	background-color:#ffffff;
}

#UtterDark{
	background: url('../img/utterDarkBanner.png') no-repeat left top fixed;
	background-size:100% auto ;
}

#TravelQuestTitle{
  background-color:#ab6e40;
}

#TravelQuestDesc{
	background-color:#c49570;
}

#TravelQuest{
	background: url('../img/travelQuestBanner.png') no-repeat left top fixed;
	background-size:100% auto;
}

#DroidSnakeTitle{
	background-color:#1c8eff;
}

#DroidSnakeDesc{
 background-color:#4a9bff;
}

#DroidSnake{
	background: url('../img/droidSnakeBanner.png') no-repeat left top fixed;
	background-size:100% auto;
}

.projectButton{
	position:absolute;
	height:100%;
	width:7%;
	top:0%;
	cursor:pointer;
	z-index:2;
	opacity:.5;
}


/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}


/* 

for zoom animation 
uncomment this part if you haven't added this code anywhere else

*/

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0.001; /* chrome opacity transition bug */
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}


/**
 *CSS for the Game's website games page
 */
.games_div {
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: block;
}

#games_div_1 {
	background-image: url('../img/travelQuestMap.png');
}

#games_div_2 {
	background-image: url('../img/lostHope.jpg');
}

.games_div_opacity {
	width:100%;
	height:100%;
	background-color: black;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.6;
}

/**
 * CSS for the team page
 */
.team_profile {
	width:100%;
	height:100%;
	background: #3C70A6;
	position: relative;
}

.team_content {
	
	width:100%;
	height:100%;
	position: absolute;
}

.team_name_div {
	width:100%;
	height:30%;
	background-color: white;
	margin-top: 10%;
}

.team_member_name {
	
}
