.buisness-card{
	width: 310px;
	height: 160px;
	background: #fefefe;
	border: rgba(150,150,150, .60) solid 1px;
	box-shadow: -2px 2px 5px rgba(125,125,125, .60);
	overflow: hidden;
	
	margin-top: 5px;
	margin-right: 5px;
	float: none;
	display: inline-block;
	margin-right: 40px;
}

.buisness-card-title{
	color: #000000;
	font-size: 12pt;
	margin-top: 10px;
	margin-left: 10px;
}

.buisness-card-subtitle{
	color: #444444;
	font-size: 9pt;
	margin-left: 10px;
}

.buisness-card-small-line{
	height: 4px;
	width: 100%;
	background: #000000;
}

.buisness-card-bottom{
	margin-top: 3px;
	background: #000000;
	width: 100%;
	height: 100px;
	color: #aaaaaa;
	font-size: 9pt;
	padding-left: 5px;
	padding-top: 30px;
}

.buisness-card-email{
	font-size: 9pt;
	padding-left: 5px;
}

.buisness-card-email a{
	text-decoration: none;
	color: #444444;
}

.buisness-card-email a:hover{
	color: #000000;
}

.buisness-card-image{
	width: 60px;
	height: 60px;
	border-radius: 30px;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	display: inline-block;
	float: left;
	
	box-shadow: -1px 1px 5px 0px rgba(100, 100, 100, .6);
}

.contact-content{
	padding-top: 50px;
	width: 70%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

.quote-area{
	background: #fefefe;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	box-shadow: -2px 2px 5px 0px rgba(100, 100, 100, .6);
}

.quote-selector{
	padding: 10px;
	font-size: 25pt;
}

.quote-selector-small{
	padding: 10px;
	font-size: 12pt;
}

.quote-selector-small:hover{
	background: #eeeeee;
}

.quote-selector:hover{
	background: #eeeeee;
}

.large-button{
	background: #00cdcd;
	color: #fefefe;
	font-size: 18pt;
	border: #00cdcd solid 5px;
	border-radius: 15px;
	padding: 10px;
	width: 50%;
	margin-left: 25%;
	margin-top: 10px;
	outline: none;
	
	box-shadow: -1px 1px 0px 0px #008080,
				-2px 2px 0px 0px #008080,
				-3px 3px 0px 0px #008080;
}

.large-button:hover{
	background: #008b8b;
}

.large-button:active{
	box-shadow: -1px 1px 0px 0px #008080;
	-webkit-transform: translateX(-2px) translateY(2px);
}

.web-area-information-box{
	width: 80%;
	background: #fefefe;
	box-shadow: -1px 1px 4px 0px rgba(100, 100, 100, .6);
	margin-left: 10%;
	padding: 5px;
}

.information-text{
	font-size: 11pt;
	color: #444444;
	margin-top: 10px;
}

.information-small{
	font-size: 9pt;
	color: #444444;
	width: 75%;
	margin: 5px;
}

.information-medium{
	font-size: 12pt;
	color: #000000;
	width: 75%;
	margin: 5px;
}

.information-bullet{
	font-size: 10pt;
	margin: 5px;
	color: #000000;
}

.tab{
	padding-left: 15px;
}

.final-information{
	width: 100%;
	height: 50px;
}

.price-entry-name{
	display: inline-block;
	width: 70%;
	font-size: 14pt;
}

.price-entry{
	color: #009900;
	display: inline-block;
	width: 20%;
	font-size: 14pt;
	text-align: right;
}

.final-price{
	text-align: center;
	font-size: 20pt;
	color: #000000;
}

h1{
	margin-top: 0px;
	font-size: 20pt;
	padding-left: 10px;
}

h2{
	font-size: 15pt;
	margin-top: 5px;
	margin-bottom: 5px;
}

h3{
	text-align: center;
	text-size: 15pt;
}