.portfolio-container{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.portfolio-entry{
	display: inline-block;
	width: 450px;
	height: 250px;
	border-radius: 5px;
	box-shadow: -1px 1px 0px rgb(50, 50, 50),
				-2px 2px 0px rgb(50, 50, 50),
				-3px 3px 0px rgb(50, 50, 50);
	-webkit-box-shadow: -1px 1px 0px rgb(50, 50, 50),
						-2px 2px 0px rgb(50, 50, 50),
						-3px 3px 0px rgb(50, 50, 50);
	margin-right: 50px;
	margin-bottom: 30px;
	background-size: 450px 250px !important; /* need to fix this before release */
}

.portfolio-icon{
	margin-left: 10px;
	margin-top: 3px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0);
	text-align: center;
}

.portfolio-entry:hover h1{
	background: rgba(100, 100, 100, .60);
	color: rgba(0, 0, 0, 1);
}

.portfolio-entry:hover h2{
	background: rgba(100, 100, 100, .40);
	color: rgba(0, 0, 0, 1);
}

.portfolio-entry:hover .portfolio-icon{
	color: rgba(0, 0, 0, 1);
	text-shadow: 1px 1px 5px rgba(0, 0, 0, .6);
}

h1,h2{
	text-align: center;
	background: rgba(100, 100, 100, 0);
	color: rgba(0, 0, 0, 0);
}

h1{
	font-size: 14pt;
	margin-top: -30px;
	margin-top: 50px;
	padding: 5px;
}

h2{
	font-size: 9pt;
	padding: 10px;
}