/*

|-----------------------------------------------|
|Square Infinity Technologies					|
|												|
|Author(s): Ivan Mattie, Andy Eagle				|
|Last Update: 7/7/2014							|
|Description: Stylesheet for Square Infinity	|
| Tech site and related website(s)				|
|-----------------------------------------------|

*/

/* ===== PHYSICAL DESIGN ===== */

.paper{
	position:relative;
	margin:0 auto;
	background:#fff;
	border:2px solid #ccc;
	width:480px;
	height:470px;
}

.paper_foo1, .paper_foo2{
	position:absolute;
	background:#fff;
	bottom:-8px;
	height:4px;
	width:470;
	margin-left:3px;
	border-bottom:2px solid #ccc;
	border-left:2px solid #ccc;
	border-right:2px solid #ccc;
}

.paper_foo2{
	width:460;
	transform: rotateY(45deg);
} 


/* ===== GENERAL STYLING ===== */

body{
	margin: 0px 0px 0px 0px;
	/*background: url("https://scontent-a-sea.xx.fbcdn.net/hphotos-xfa1/t31.0-8/10382354_4399896612323_7255393296708134168_o.jpg");*/
	background: #F4EF79;
	font-family: 'Open Sans', sans-serif;
}

.shadow{
	box-shadow: 1px 1px 1px #000000;
}

/* ===== FONT AWESOME ===== */

.fa-extra-spacing{
	margin-right: 10px;
}

.fa-small-spacing{
	margin-right: 3px;
}

.fa-float-top{
	margin-top: -40px;
	background: #fefefe;
	width: 32px;
	height: 32px;
	text-align: center;
	padding: 1px 1px 1px 1px;
	box-shadow: 2px 2px 2px #000000;
	border-radius: 16px 16px 16px 16px;
}

/* ===== PORTFOLIO ===== */

.portfolio-container{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.portfolio-object{
	width: 300px;
	background: #fefefe;
	padding: 10px 10px 5px 10px;
}

.portfolio-main{
	width: 300px;
}

.portfolio-center{
	margin-left: auto;
	margin-right: auto;
	
	background: #fefefe;
	text-align: center;
	
	width: 38px;
	height: 36px;
	padding-top: 2px;
	border-radius: 19px 19px 19px 19px;
}

h4{
	background: #fefefe;
	width: 250px;
	text-align: center;
	
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 0px;
	margin-bottom: 0px;
}

h5{
	width: 200px;
	font-size: 9pt;
	background: #fefefe;
	text-align: center;
	
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 0px;
	margin-bottom: 0px;
}

/* ===== TOP AREA ===== */

.top-bar{
	background: #000000;
	height: 40px;
}

.center-image{
	width: 400px;
	height: 70px;
	padding-left: 15px;
	padding-top: 5px;
}

.center-image-container{
	width: 430px;
	border: #000000 solid thin;
	margin-left: auto;
	margin-right: auto;
	
	margin-top: -50px;
	background: #fefefe; /* #e0eeee is also a nice light blue */
	
	border-radius: 3px 3px 3px 3px;
}

.top-nav-button{
	border-radius: 0px 0px 5px 5px;
	border: #000000 solid 2px;
	background: #fefefe;
	padding-top: 50px;
	margin-top: -50px;
	font-family: 'Open Sans', sans-serif;
}

.top-nav-button:hover{
	background: rgb(254,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(35%,rgba(221,241,249,1)), color-stop(100%,rgba(160,216,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
}

.nav-button-start-left{
	margin-left: 20%;
}

@media screen and (max-width:1320px){
	.nav-button-start-left{
		margin-left: 10%;
	}
}

@media screen and (max-width:975px){
	.center-image{
		width: 250px;
		height: 40px;
		padding-left: 20px;
	}
	
	.center-image-container{
		margin-top: 30px;
		width: 95%;
	}
	
	.top-nav-button{
		font-size: 12pt;
		float: left;
	}
	
	.nav-button-start-left{
		margin-left: auto;
	}
	
	.mobile-div{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

/* ===== CENTER CONTENT ===== */

.front-page-top-content{
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}

.footer{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background: #fefefe;
	border-radius: 2px 2px 2px 2px;
	padding: 2px 2px 2px 5px;
	margin-top: 40px;
	font-size: 10pt;
	box-shadow: 3px 3px 2px #000000;
}

.content-header{
	background: #fefefe;
	border: #000000 solid 1px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 35px;
	position: absolute;
}

.content-box{
	background: #fefefe;
	padding: 10px 10px 10px 10px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
}

.main-content{
	background-color:#fff;
    border-width:1px;
    border-style:solid;
    border-bottom-color:#aaa;
    border-right-color:#aaa;
    border-top-color:#ddd;
    border-left-color:#ddd;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
	
	width: 75%;
	padding: 10px 10px 10px 10px;
	margin-left: auto;
	margin-right: auto;
	/*box-shadow: 2px 2px 5px #000000;*/
	font-family: 'Open Sans', sans-serif;
}

.main-content-header{
	background: #fefefe;
	width: 75%;
	padding: 10px 10px 10px 10px;
	font-family: 'Open Sans', sans-serif;
	
}

.floating-sidebar{
	background: #fefefe;
	width: 100px;
	float: left;
	margin-left: 10px;
	box-shadow: 2px 2px 5px #000000;
	padding: 5px 5px  5px 5px;
	
	border-radius: 5px 0px 0px 5px;
	font-family: 'Open Sans', sans-serif;
}

.sidebar-link{
	color: #555555;
	background: #fefefe;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	
	margin-left: auto;
	margin-right: auto;
	border: #fefefe solid thin; /* fixes slight offset with the :hover */
	font-family: 'Open Sans', sans-serif;
}

.sidebar-link:hover{
	color: #000000;
	border: #000000 solid thin;
	box-shadow: 1px 1px 3px #000000;
}

.top-division{
	margin-top: 30px;
}

.design-area{
	background: none;
	margin-top: 10px;
	box-shadow: none;
	height: 400px;
}

@media screen and (max-width: 1090px){
	.main-content{
		width: 70%;
	}
}

@media screen and (max-width:975px){
	.design-area{
		height: auto; 
	}

	.floating-sidebar{
		width: 95%;
		margin-left: 2%;
		margin-right: 2.5%;
		border-radius: 0px 0px 0px 0px;
		float: none;
		
		margin-bottom: 10px;
	}
	
	.main-content{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.sidebar-link{
		width: 49%;
		right: 5px;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 12pt;
		display: inline-block;
		
		/*border: #000000 solid 4px;  I can't decide if this looks good or not*/
		border-radius: 10px 10px 10px 10px;
		
		background: rgb(254,255,255); /* old browsers only */
		background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(35%,rgba(221,241,249,1)), color-stop(100%,rgba(160,216,239,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
	}
	
	.sidebar-link:hover{
		/*border: #000000 solid 4px;*/
	}
}

/* === GENERAL CONTENT === */

.center-content{
	text-align: center;
}

.circle{
	width: 250px;
	height: 250px;
	text-align: center;
	background: #fefefe;
	border-radius: 250px 250px 250px 250px;
	box-shadow: 3px 3px 2px #000000;
	padding: 50px 50px 50px 50px;
	margin-right: 0px;
	float: left;
}

.circle-content{
	color: #444444;
	font-size: 11pt;
	text-align: left;
	margin-left: 10px;
	vertical-align: middle;
}

.skill-area{
	background: none;
	border: none;
	box-shadow: none;
	margin-top: 30px;
}

.skill-entry{
	width: 300px;
	display: inline-block;
	margin-left: 15px;
	margin-top: 10px;
}

.skill-entry-body{
	color: #444444;
	background: #fefefe;
	padding: 5px 5px 20px 15px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 3px 3px 2px #000000;
}

.skill-entry-header{
	text-align: center;
	color: #000000;
	margin-bottom: 10px;
	font-size: 14pt;
	margin-top: 3px;
}

.skill-icons{
	color: #fefefe;
	text-align: center;
	margin-bottom: 3px;
	text-shadow: 1px 1px 1px #000000;
}

h1{
	font-size: 14pt;
	margin-top: 0px;
	font-family: 'Open Sans', sans-serif;
}

h2{
	font-size: 22pt;
	font-family: 'Open Sans', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
}

h3{
	font-size: 15pt;
	font-family: 'Open Sans', sans-serif;
	margin-top: 0px;
	margin-bottom: 3px;
}

a{
	text-decoration: none;
	color: #555555;
}

a:hover{
	color: #000000;
}

@media screen and (max-width: 975px){
	.mobile-center{
		/* I have no clue what I'm doing here. Get somebody to look at this.*/
		width: 100%;
		text-align: center;
	}
	
	.circle{
		width: 85%;
		border-radius: 50px 50px 50px 50px;
		padding: 20px 20px 5px 20px;
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	
	.skill-entry{
		width: 95%;
	}
	
	body{
		background: url("http://squareinfinity.com/images/48.jpg");
		margin: 0px;
	}
	
}